<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NeedsHelp.Properties.Settings.DBKurs23ConnectionString"
            connectionString="Data Source=213.155.192.79,3002;Initial Catalog=DBKurs23;Persist Security Info=True;User ID=u21levinsas;Password=ngh4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>